$font-type := 'all'

font-embed($file-path, $font-type)
  embedurl($file-path + '.' + $font-type) format($font-type)

font-face($name, $file-path, $weight = 'normal', $style = 'normal')
  @font-face
    font-family $name
    font-style unquote($style)
    font-weight unquote($weight)
    if ($font-type == 'eot' or $font-type == 'all')
      src url($file-path + '.eot')
      src url($file-path + '.eot?#iefix') format('embedded-opentype')
    if ($font-type == 'woff' || $font-type == 'ttf' || $font-type == 'svg')
      src font-embed($file-path, $font-type)
    if ($font-type == 'all')
      src font-embed($file-path, 'woff')
        , font-embed($file-path, 'ttf')
        , font-embed($file-path, 'svg')

font-face('Muli', 'fonts/muli/light', '300')
font-face('Muli', 'fonts/muli/bold', 'bold')
font-face('Muli', 'fonts/muli/regular-italic', 'normal', 'italic')
font-face('Muli', 'fonts/muli/regular')