@include font-face("Slate", font-files("slate/regular.woff", "slate/regular.ttf", "slate/regular.svg#SlatePro"), "slate/regular.eot", normal, normal);
@include font-face("icons", font-files("icons/icons.woff", "icons/icons.ttf", "icons/icons.svg#icons"), "icons/icons.eot", normal, normal);

$font-base:"Slate",Arial,sans-serif;
$font-icon:"icons";
$font-monospace:Consolas,"Courier New",monospace;