*{
  @include box-sizing(border-box);
}

[data-icon]:before{
  content:attr(data-icon);
  font:{
    family:$font-icon;
    weight:normal;
  }
  line-height:1em;
  speak:none;
}

a{
  color:$white2;
  
  &:hover,&:active,&:focus{
    color:$white;
    @include transition(all .2s ease-out);
  }
}

body{
  background:$black2;
  border-top:4px solid $black2;
  color:$white2;
  font:100%/1.5 $font-base;
  -webkit-font-smoothing:antialiased;
  text-align:center;
}

button,input,select,textarea{
  font:{
    family:$font-base;
    size:1em;
  }
}

em,i{
  font-style:italic;
}

#content{
  color:$white2;
  
  h1{
    border-bottom:1px solid $grey;
    font-size:2.5em;
    line-height:1;
    margin:0 0 1.5em;
    padding:0 0 .5em;
    position:relative;
        
    a{
      text-decoration:none;
    }
    
    time{
      background:$orange;
      @include border-bottom-radius(.25em);
      bottom:pxtoem(-32);
      @include box-shadow(inset 0 1px 0 $white, 0 1px 1px $maroon);
      @include box-shadow(inset 0 1px 0 rgba($white, .4), 0 1px 1px rgba($maroon, .2));
      color:$white;
      display:block;
      font-size:.4em;
      right:1em;
      line-height:1em;
      position:absolute;
      padding:.5em;
      @include text-shadow(0 -1px 0 $maroon, .4);
      @include text-shadow(0 -1px 0 rgba($maroon, .4));
    }
  }
  
  h2{
    font-size:1.5em;
    margin:1em 0 .5em;
  }
  
  article{
    border:{
      bottom:1px solid $black;
      top:1px solid $grey;
    }
    padding:0 0 1em;
    
    &:last-of-type{
      border-bottom:0;
    }
    
    .comments{
      border-top:1px solid $grey;
      clear:both;
      margin:2em 0 0;
      padding:2em 0 0;
    }
    
    .container{
      margin:auto;
      max-width:pxtoem($breakpoint-max);
      padding:3em 1em 1em;
      text-align:left;
      width:pxtoem($breakpoint-max);
    }
    div[class=container]{
      width:auto;
    }
  }
  
  code{
    background:$white2;
    @include border-radius(.125em);
    color:$black;
    font-family:$font-monospace;
    padding:.125em .25em;
    white-space: nowrap;
  }
  
  p{
    margin:0 0 1em;
  }
  
  ul{
    list-style:circle;
    margin:0 0 1em 1em;
  }
}

#footer{
  margin:0 1em 2em;
  padding:.5em 0;
}

#header{
  @include background(image-url("header.jpg") no-repeat);
  overflow:hidden;
  padding:5em 0 0;
  
  &.hide-search{
    padding-bottom:5em;
  }
}

#logo{
  background:$black;
  color:$white;
  display:inline-block;
  font:{
    size:1.75em;
    weight:bold;
  }
  padding:.65em .4em .65em .75em;
  line-height:1;
  letter-spacing:.5em;
  text:{
    decoration:none;
    transform:uppercase;
  }
}

#master{
  border-top:1px solid $black;
  margin:auto;
}

#navigation{
  border-top:1px solid $grey;
  display:block;
  padding:3em .25em 0;
  text-align:center;
  
  a{
    background:$orange;
    @include border-radius(.25em);
    @include box-shadow(inset 0 1px 0 $white, 0 1px 1px $maroon);
    @include box-shadow(inset 0 1px 0 rgba($white, .4), 0 1px 1px rgba($maroon, .2));
    color:$white;
    display:inline-block;
    font-size:1.75em;
    line-height:1;
    margin:0 .125em pxtoem(16, 28);
    padding:.5em;
    text-decoration:none;
    @include text-shadow(0 -1px 0 $maroon, .4);
    @include text-shadow(0 -1px 0 rgba($maroon, .4));
    
    &:hover,&:focus,&:active{
      background:$orange2;
    }
  }
  
  span{
    display:none;
  }
  
  @include breakpoint($breakpoint-first){
    a{
      margin:{
        left:.25em;
        right:.25em;
      }
    }
  }
}

#search{
  margin:2em auto;
  max-width:pxtoem($breakpoint-max);
  
  #header.hide-search &{
    display:none;
  }
  
  button{
    background:none;
    border:0;
    color:$white2;
    cursor:pointer;
    display:block;
    margin:0;
    padding:.5em;
    position:absolute;
    right:0;
    text:{
      align:right;
      transform:uppercase;
    }
    top:0;
    vertical-align:middle;
    width:auto;
    z-index:2;
  }
  
  fieldset{
    border:1px solid $black;
    display:block;
    line-height:1;
    margin:0 1em;
    padding:0;
    position:relative;
  }
  
  input{
    background:none;
    border:0;
    color:$white2;
    display:block;
    outline:none;
    margin:0;
    padding:.5em;
    vertical-align:middle;
    width:75%;
    -webkit-appearance:none;
    
    &::-webkit-search-cancel-button,&::-webkit-search-results-button{ 
      -webkit-appearance: none; 
    }
  }
  
  label{
    cursor:text;
    display:block;
    position:relative;
    z-index:1;
  }
}