@import "compass";
@import "normalize";
@import "breakpoint";

$breakpoint-to-ems:true;

@include normalize;

@font-face{
  font:{
    family:"icons";
    style:normal;
    weight:normal;
  }
  src:url("/fonts/icons/icons.eot");
  src:url("/fonts/icons/icons.eot?#iefix") format("embedded-opentype"),url("/fonts/icons/icons.woff") format("woff"),url("/fonts/icons/icons.ttf") format("truetype"),url("/fonts/icons/icons.svg#icons") format("svg");
}

@font-face {
    font:{
      family:"Slate";
      style:normal;
      weight:200;
    }
    src:url("/fonts/slate/light.eot");
    src:local("/fonts/slate/light.eot?#iefix") format("embedded-opentype"),url("/fonts/slate/light.woff") format("woff"),url("/fonts/slate/light.ttf") format("truetype"),url("/fonts/slate/light.svg#slate-light") format("svg");
}
@font-face {
    font:{
      family:"Slate";
      style:italic;
      weight:200;
    }
    src:url("/fonts/slate/light-italic.eot");
    src:url("/fonts/slate/light-italic.eot?#iefix") format("embedded-opentype"),url("/fonts/slate/light-italic.woff") format("woff"),url("/fonts/slate/light-italic.ttf") format("truetype"),url("/fonts/slate/light-italic.svg#slate-light-italic") format("svg");
}
@font-face {
    font:{
      family:"Slate";
      style:normal;
      weight:normal;
    }
    src:url("/fonts/slate/normal.eot");
    src:url("/fonts/slate/normal.eot?#iefix") format("embedded-opentype"),url("/fonts/slate/normal.woff") format("woff"),url("/fonts/slate/normal.ttf") format("truetype"),url("/fonts/slate/normal.svg#slate") format("svg");
}
@font-face {
  font:{
    family:"Slate";
    style:normal;
    weight:bold;
  }
  src:url("/fonts/slate/medium.eot");
  src:url("/fonts/slate/medium.eot?#iefix") format("embedded-opentype"),url("/fonts/slate/medium.woff") format("woff"),url("/fonts/slate/medium.ttf") format("truetype"),url("/fonts/slate/medium.svg#slate-bold") format("svg");
}

$black:#000;
$offblack:#222;
$grey:#333;
$orange:#f05c35;
$white:#fff;
$offwhite:#e1e1e1;

[data-icon]:before{
  content:attr(data-icon);
  font:{
    family:"icons";
    weight:normal;
  }
  line-height:1em;
  speak:none;
}

a{
  color:$offwhite;
  text-decoration:underline;
}

body{
  background:$offblack;
  border-top:4px solid $offblack;
  color:$offwhite;
  font:100%/1.5 "Slate",Arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  text-align:center;
}

#content{
  color:$grey;
  
  a{
    color:$grey;
  }
}

#footer{
  border-top:1px solid $grey;
  margin:1em .5em;
  padding:.5em 0;
}

#header{
  @include background(image-url("header.jpg") no-repeat 60%);
}

#logo{
  background:$black;
  color:$white;
  display:inline-block;
  font:{
    size:2em;
    weight:bold;
  }
  margin:3em 0;
  padding:.2em .35em .25em .7em;
  letter-spacing:.5em;
  text:{
    decoration:none;
    transform:uppercase;
  }
}

#master{
  border-top:1px solid $black;
  margin:auto;
}

#navigation{
  display:block;
  padding:2em .5em 1em;
  
  a{
    background:$orange;
    @include border-radius;
    @include box-shadow(inset 0 1px 0 $white, 0 1px 1px $black);
    @include box-shadow(inset 0 1px 0 rgba($white, .4), 0 1px 1px rgba($black, .2));
    color:$white;
    display:inline-block;
    font-size:1.75em;
    margin:0 .25em;
    padding:.3em .5em .25em;
    text-decoration:none;
    @include text-shadow(0 -1px 0 $black, .4);
    @include text-shadow(0 -1px 0 rgba($black, .4));
    width:1em;
    
    &:hover,&:focus,&:active{
      background:darken($orange, 4%);
    }
  }
  
  span{
    display:none;
  }
}