$font-type := 'all'

font-embed($file-path, $font-type)
  embedurl($file-path + '.' + $font-type) format($font-type)

font-face($name, $file-path, $weight = 'normal', $style = 'normal')
  @font-face
    font-family $name
    font-style unquote($style)
    font-weight unquote($weight)
    if ($font-type == 'woff2' || $font-type == 'woff' || $font-type == 'ttf')
      src font-embed($file-path, $font-type)
    if ($font-type == 'all')
      src font-embed($file-path, 'woff2')
        , font-embed($file-path, 'woff')
        , font-embed($file-path, 'ttf')

font-face('Muli', 'fonts/muli/light', '300')
font-face('Muli', 'fonts/muli/bold', 'bold')
font-face('Muli', 'fonts/muli/italic', 'normal', 'italic')
font-face('Muli', 'fonts/muli/regular')
