$bp--wide = 900px

$color--black = #000
$color--black-light = #222
$color--blue = #8ea9d7
$color--green = #93b082
$color--grey = #333
$color--grey-light = #bbb
$color--orange = #ffa500
$color--orange-light = #fba266
$color--pink = #ff1493
$color--pink-light = #f786ad
$color--white = #fff
$color--yellow = #ff7

$color--gradient = $color--pink, $color--orange

color-stop(index)
  $stop = $color--gradient[index]
  $stop[0]

$font--base = Arial, sans-serif
$font--monospace = Consolas, monaco, monospace
