.icon-email {
	background-image: url('/img/png/email.png');
	background-repeat: no-repeat;
}
.icon-github {
	background-image: url('/img/png/github.png');
	background-repeat: no-repeat;
}
.icon-mobile {
	background-image: url('/img/png/mobile.png');
	background-repeat: no-repeat;
}
.icon-twitter {
	background-image: url('/img/png/twitter.png');
	background-repeat: no-repeat;
}
