@charset "CP850";
/* line 17, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Muli";
  src: url('/fonts/muli/regular.eot');
  src: url('/fonts/muli/regular.eot?#iefix') format('eot'), url('/fonts/muli/regular.woff') format('woff'), url('/fonts/muli/regular.ttf') format('truetype'), url('/fonts/muli/regular.svg#muliregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url('/fonts/muli/regular-italic.eot');
  src: url('/fonts/muli/regular-italic.eot?#iefix') format('eot'), url('/fonts/muli/regular-italic.woff') format('woff'), url('/fonts/muli/regular-italic.ttf') format('truetype'), url('/fonts/muli/regular-italic.svg#muliitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url('/fonts/muli/bold.eot');
  src: url('/fonts/muli/bold.eot?#iefix') format('eot'), url('/fonts/muli/bold.woff') format('woff'), url('/fonts/muli/bold.ttf') format('truetype'), url('/fonts/muli/bold.svg#muli_boldbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url('/fonts/muli/bold-italic.eot');
  src: url('/fonts/muli/bold-italic.eot?#iefix') format('eot'), url('/fonts/muli/bold-italic.woff') format('woff'), url('/fonts/muli/bold-italic.ttf') format('truetype'), url('/fonts/muli/bold-italic.svg#mulibold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url('/fonts/muli/light.eot');
  src: url('/fonts/muli/light.eot?#iefix') format('eot'), url('/fonts/muli/light.woff') format('woff'), url('/fonts/muli/light.ttf') format('truetype'), url('/fonts/muli/light.svg#mulilight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url('/fonts/muli/light-italic.eot');
  src: url('/fonts/muli/light-italic.eot?#iefix') format('eot'), url('/fonts/muli/light-italic.woff') format('woff'), url('/fonts/muli/light-italic.ttf') format('truetype'), url('/fonts/muli/light-italic.svg#mulilight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

/* line 1, ../../_sass/_shared.scss */
.content h1, .content hr, .post, .post.post-full header {
  background: url('/img/hr.jpg') repeat-x 0 100%;
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  -o-background-size: 100% 1px;
  background-size: 100% 1px;
}

/* line 6, ../../_sass/_shared.scss */
body {
  background: #222222;
  color: white;
  font: 100%/1.5 "Muli", Arial, sans-serif;
  text-align: center;
  line-height: 1.75;
}

/* line 17, ../../_sass/_shared.scss */
a {
  border-bottom: 1px dotted #bbbbbb;
  border-color: rgba(187, 187, 187, 0.5);
  color: white;
  text-decoration: none;
  -webkit-transition: border-color 0.25s ease-in-out;
  -moz-transition: border-color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
}
/* line 24, ../../_sass/_shared.scss */
a:hover, a:active, a:focus {
  border-color: transparent !important;
}

/* line 29, ../../_sass/_shared.scss */
abbr[title] {
  cursor: help;
}

/* line 33, ../../_sass/_shared.scss */
[data-yesscript] {
  display: none;
}
/* line 36, ../../_sass/_shared.scss */
html.js [data-yesscript] {
  display: block;
}

/* line 1, ../../_sass/patterns/_layout.scss */
.container {
  margin: auto;
  max-width: 62.5em;
  padding: 0 1em;
  width: 62.5em;
  padding: 0 2em;
}

/* line 11, ../../_sass/patterns/_layout.scss */
div[class=container] {
  width: auto;
}

/* line 1, ../../_sass/patterns/_content.scss */
.content {
  background: #333333;
  padding: 2em 0;
  text-align: left;
}
/* line 6, ../../_sass/patterns/_content.scss */
.content abbr[title] {
  border-bottom: 1px dotted #222222;
}
/* line 10, ../../_sass/patterns/_content.scss */
.content b, .content strong {
  font-weight: bold;
}
/* line 14, ../../_sass/patterns/_content.scss */
.content blockquote {
  border-left: 2px solid #fba266;
  font-size: 1.25em;
  font-weight: 300;
  margin: 1.5em 0;
  padding: 0 1em;
  font-size: 1.5em;
  line-height: 1.45;
}
/* line 23, ../../_sass/patterns/_content.scss */
.content blockquote a {
  color: #bbbbbb;
}
/* line 33, ../../_sass/patterns/_content.scss */
.content code {
  background: black;
  color: white;
  font-family: Consolas, monaco, monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: .1em .25em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap;
}
/* line 49, ../../_sass/patterns/_content.scss */
.content code .token.atrule, .content code .token.attr-value, .content code .token.keyword {
  color: #f786ad;
}
/* line 53, ../../_sass/patterns/_content.scss */
.content code .token.attr-name, .content code .token.builtin, .content code .token.selector.token.string {
  color: #ffff77;
}
/* line 57, ../../_sass/patterns/_content.scss */
.content code .token.boolean, .content code .token.constant, .content code .token.number, .content code .token.property, .content code .token.symbol, .content code .token.tag {
  color: #8ea9d7;
}
/* line 61, ../../_sass/patterns/_content.scss */
.content code .token.cdata, .content code .token.comment, .content code .token.doctype, .content code .token.prolog, .content code .token.punctuation {
  color: #bbbbbb;
}
/* line 65, ../../_sass/patterns/_content.scss */
.content code .token.important, .content code .token.regex {
  color: #fba266;
}
/* line 69, ../../_sass/patterns/_content.scss */
.content code .token.entity, .content code .token.operator, .content code .token.url, .content code .token.variable {
  color: #93b082;
}
/* line 74, ../../_sass/patterns/_content.scss */
.content del {
  color: #bbbbbb;
}
/* line 78, ../../_sass/patterns/_content.scss */
.content dfn, .content em, .content i, .content var {
  font-style: italic;
}
/* line 82, ../../_sass/patterns/_content.scss */
.content h1 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25;
  margin: 0 0 .75em;
  padding: 0 0 .333333em;
  font-size: 2.5em;
  line-height: 1.125;
  font-size: 3em;
  line-height: 1.25;
}
/* line 92, ../../_sass/patterns/_content.scss */
.content h1 a {
  border-color: #222222;
}
/* line 107, ../../_sass/patterns/_content.scss */
.content h2 {
  font-size: 1.625em;
  font-weight: 300;
  line-height: 1.15;
  margin: 1em 0;
  font-size: 2em;
  line-height: 1.25;
  font-size: 2.25em;
}
/* line 125, ../../_sass/patterns/_content.scss */
.content h3 {
  font-size: 1.375em;
  line-height: 1.15;
  margin: 0 0 1em;
  font-size: 1.5em;
  line-height: 1.25;
  font-size: 1.75em;
}
/* line 140, ../../_sass/patterns/_content.scss */
.content h4 {
  font-size: 1.125em;
  line-height: 1.1;
  margin: 0 0 .5em;
  line-height: 1.2;
}
/* line 150, ../../_sass/patterns/_content.scss */
.content h5, .content h6 {
  margin: 0 0 .25em;
}
/* line 154, ../../_sass/patterns/_content.scss */
.content hr {
  border: 0;
  height: 1px;
  margin: 0 0 1.5em;
  overflow: hidden;
}
/* line 162, ../../_sass/patterns/_content.scss */
.content ins {
  color: #bbbbbb;
  font-weight: 300;
}
/* line 167, ../../_sass/patterns/_content.scss */
.content kbd, .content samp {
  font-family: Consolas, monaco, monospace;
}
/* line 171, ../../_sass/patterns/_content.scss */
.content li {
  margin: .5em;
}
/* line 175, ../../_sass/patterns/_content.scss */
.content mark {
  background: #fba266;
  padding: 0 .25em;
}
/* line 180, ../../_sass/patterns/_content.scss */
.content ol {
  counter-reset: li;
  list-style: decimal;
  margin: 0 0 1em;
  padding: 0 0 0 1em;
}
/* line 186, ../../_sass/patterns/_content.scss */
.content ol > li {
  list-style: none;
}
/* line 189, ../../_sass/patterns/_content.scss */
.content ol > li:before {
  color: #bbbbbb;
  content: counter(li) ".";
  counter-increment: li;
  display: block;
  font-size: .85em;
  font-style: italic;
  font-weight: 300;
  left: -1.25em;
  line-height: 1.75;
  max-height: 0;
  max-width: 0;
  position: relative;
  line-height: 2;
}
/* line 213, ../../_sass/patterns/_content.scss */
* + html .content ol li {
  list-style: decimal;
}
/* line 218, ../../_sass/patterns/_content.scss */
.content p {
  margin: 0 0 1.5em;
}
/* line 222, ../../_sass/patterns/_content.scss */
.content pre {
  font-family: Consolas, monaco, monospace;
  margin: 2em 0;
  overflow: auto;
  padding: .1em .25em;
}
/* line 228, ../../_sass/patterns/_content.scss */
.content pre code {
  -webkit-box-shadow: -0.25em 0 0 0.25em black, 0.25em 0 0 0.25em black;
  -moz-box-shadow: -0.25em 0 0 0.25em black, 0.25em 0 0 0.25em black;
  box-shadow: -0.25em 0 0 0.25em black, 0.25em 0 0 0.25em black;
  padding: 0;
}
/* line 234, ../../_sass/patterns/_content.scss */
.content q {
  quotes: "“" "”" "‘" "’";
}
/* line 237, ../../_sass/patterns/_content.scss */
.content q:after {
  content: close-quote;
}
/* line 241, ../../_sass/patterns/_content.scss */
.content q:before {
  content: open-quote;
}
/* line 246, ../../_sass/patterns/_content.scss */
.content small {
  font-size: smaller;
}
/* line 250, ../../_sass/patterns/_content.scss */
.content sub {
  font-size: smaller;
  vertical-align: sub;
}
/* line 255, ../../_sass/patterns/_content.scss */
.content sup {
  font-size: smaller;
  vertical-align: super;
}
/* line 260, ../../_sass/patterns/_content.scss */
.content ul {
  list-style: circle;
  margin: 0 0 1em;
  padding: 0 0 0 1em;
}
/* line 265, ../../_sass/patterns/_content.scss */
.content ul > li {
  list-style: none;
}
/* line 268, ../../_sass/patterns/_content.scss */
.content ul > li:before {
  color: #fba266;
  content: "\25cb";
  display: block;
  left: -1em;
  max-height: 0;
  max-width: 0;
  position: relative;
}
/* line 281, ../../_sass/patterns/_content.scss */
* + html .content ul li {
  list-style: circle;
}
/* line 286, ../../_sass/patterns/_content.scss */
.content .video {
  height: 0;
  overflow: hidden;
  margin: 0 0 1.5em;
  padding: 0 0 56.25%;
  position: relative;
}
/* line 293, ../../_sass/patterns/_content.scss */
.content .video embed, .content .video iframe, .content .video object {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 1, ../../_sass/patterns/_footer.scss */
.footer {
  color: #bbbbbb;
  overflow: hidden;
  padding: 3em 0;
}
/* line 6, ../../_sass/patterns/_footer.scss */
.footer a {
  display: inline-block;
  margin: 0 .5em 1em;
}
/* line 11, ../../_sass/patterns/_footer.scss */
.footer p {
  font-weight: 300;
  margin: 0 0 2em;
}
/* line 16, ../../_sass/patterns/_footer.scss */
.footer .established {
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  line-height: 1.15;
  padding: 1em;
  text-transform: uppercase;
}
/* line 24, ../../_sass/patterns/_footer.scss */
.footer .established abbr {
  display: block;
}

/* line 1, ../../_sass/patterns/_header.scss */
.header {
  background: url('/img/header.jpg') 50% 0;
  overflow: hidden;
  padding: 1em 0;
  text-align: right;
  padding: 2em 0;
}
/* line 11, ../../_sass/patterns/_header.scss */
.header .toggle-input {
  display: none;
}
/* line 15, ../../_sass/patterns/_header.scss */
.header .toggle-label {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  visibility: hidden;
}
/* line 21, ../../_sass/patterns/_header.scss */
.header .toggle-label i {
  font-size: 2em;
  font-style: normal;
  letter-spacing: -.25em;
  padding: 0 .25em 0 0;
}
/* line 30, ../../_sass/patterns/_header.scss */
.header .toggle-label span {
  display: none;
}

/* line 1, ../../_sass/patterns/_logo.scss */
.logo {
  background: black;
  border: 0;
  color: white;
  display: inline-block;
  float: left;
  font-weight: bold;
  letter-spacing: .5em;
  line-height: 1;
  padding: .5em 0 .5em .5em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25em;
}

/* line 1, ../../_sass/patterns/_post.scss */
.post {
  clear: both;
  margin: 0 0 3em;
  padding: 0 0 2em;
}
/* line 7, ../../_sass/patterns/_post.scss */
.post:last-of-type {
  background: none;
  margin: 0;
  padding: 0;
}
/* line 14, ../../_sass/patterns/_post.scss */
.post.post-full h1 {
  background: none;
  margin: 0;
  padding: 0;
}
/* line 20, ../../_sass/patterns/_post.scss */
.post.post-full header {
  margin: 0 0 2.25em;
  padding: 0 0 1em;
}
/* line 27, ../../_sass/patterns/_post.scss */
.post header {
  margin: 0 0 2em;
}
/* line 30, ../../_sass/patterns/_post.scss */
.post header a {
  border-color: #222222;
}
/* line 34, ../../_sass/patterns/_post.scss */
.post header h1, .post header h2 {
  display: inline;
}
/* line 39, ../../_sass/patterns/_post.scss */
.post footer {
  display: none;
}
/* line 43, ../../_sass/patterns/_post.scss */
.post time {
  color: #bbbbbb;
}
/* line 46, ../../_sass/patterns/_post.scss */
.post time a {
  color: #bbbbbb;
}
/* line 51, ../../_sass/patterns/_post.scss */
.post .ellipsis {
  border: 0;
  display: block;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-shadow: #333333 1px 1px 0;
}
/* line 62, ../../_sass/patterns/_post.scss */
.post .ellipsis:before {
  color: black;
  content: '\25cb\25cb\25cb';
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
/* line 68, ../../_sass/patterns/_post.scss */
.post .ellipsis:hover, .post .ellipsis:active, .post .ellipsis:focus {
  text-shadow: none;
}
/* line 71, ../../_sass/patterns/_post.scss */
.post .ellipsis:hover:before, .post .ellipsis:active:before, .post .ellipsis:focus:before {
  color: #bbbbbb;
}
/* line 76, ../../_sass/patterns/_post.scss */
.post .ellipsis span {
  display: none;
}
