/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 36, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/source/_assets/css/../behaviors/box-sizing/boxsizing.php');
}

/* line 40, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
#content article .ellipsis, #navigation a {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  *behavior: none;
}

/* line 4, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Muli";
  src: url('/fonts/muli/regular.eot');
  src: url('/fonts/muli/regular.eot?#iefix') format('eot'), url('/fonts/muli/regular.woff') format('woff'), url('/fonts/muli/regular.ttf') format('truetype'), url('/fonts/muli/regular.svg#MuliRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url('/fonts/icons/icons.eot');
  src: url('/fonts/icons/icons.eot?#iefix') format('eot'), url('/fonts/icons/icons.woff') format('woff'), url('/fonts/icons/icons.ttf') format('truetype'), url('/fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 8, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/atypical-sass-0.0.10/stylesheets/atypicalmass/_mixins.scss */
#content article .ellipsis, #navigation a {
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}
/* line 14, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/atypical-sass-0.0.10/stylesheets/atypicalmass/_mixins.scss */
#content article .ellipsis:before, #navigation a:before {
  content: attr(data-icon);
  font-family: "icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-align: center;
  vertical-align: middle;
}
/* line 27, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/atypical-sass-0.0.10/stylesheets/atypicalmass/_mixins.scss */
#content article .ellipsis span, #navigation a span {
  font: 0/0 a;
}
/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/atypical-sass-0.0.10/stylesheets/atypicalmass/_mixins.scss */
#content article .ellipsis span:not([href]), #navigation a span:not([href]) {
  display: block;
  overflow: hidden;
  width: 1px;
}
/* line 37, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/atypical-sass-0.0.10/stylesheets/atypicalmass/_mixins.scss */
* html #content article .ellipsis, #content article * html .ellipsis, * html #navigation a, #navigation * html a {
  width: auto;
}
/* line 40, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/atypical-sass-0.0.10/stylesheets/atypicalmass/_mixins.scss */
* html #content article .ellipsis span, #content article * html .ellipsis span, * html #navigation a span, #navigation * html a span {
  font: 1em/1 "Muli", Arial, sans-serif;
}
/* line 45, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/atypical-sass-0.0.10/stylesheets/atypicalmass/_mixins.scss */
* + html #content article .ellipsis, #content article * + html .ellipsis, * + html #navigation a, #navigation * + html a {
  width: auto;
}
/* line 48, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/atypical-sass-0.0.10/stylesheets/atypicalmass/_mixins.scss */
* + html #content article .ellipsis span, #content article * + html .ellipsis span, * + html #navigation a span, #navigation * + html a span {
  font: 1em/1 "Muli", Arial, sans-serif;
}

/* line 1, ../../_sass/_screen.scss */
a {
  color: #e1e1e1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 5, ../../_sass/_screen.scss */
a:hover, a:active, a:focus {
  color: white;
}

/* line 10, ../../_sass/_screen.scss */
body {
  background: #222222;
  border-top: 4px solid #222222;
  color: #e1e1e1;
  font: 100%/1.55 "Muli", Arial, sans-serif;
  text-align: center;
}

/* line 18, ../../_sass/_screen.scss */
button, input, select, textarea {
  font-family: "Muli", Arial, sans-serif;
  font-size: 1em;
}

/* line 25, ../../_sass/_screen.scss */
#content {
  color: #e1e1e1;
  display: block;
  /*h1{
    font-size:2.5em;
    line-height:1;
    margin:0 0 1em;
    text-align:center;
        
    a{
      border-bottom:1px solid $grey;
      display:block;
      padding:0 0 .5em;
      text-decoration:none;
    }
    
    time{
      display:block;
      font-size:.4em;
      
      a{
        background:$orange;
        border:0;
        @include border-bottom-radius(25%);
        @include box-shadow(inset 0 1px 0 $white);
        @include box-shadow(inset 0 1px 0 rgba($white, .4));
        color:$white;
        display:inline-block;
        padding:.5em;
        
        &:hover,&:active,&:focus{
          margin-bottom:-.25em;
          padding-top:.75em;
        }
      }
    }
  }*/
}
/* line 29, ../../_sass/_screen.scss */
#content del {
  color: black;
  text-decoration: line-through;
  text-shadow: #333333 1px 1px 0;
}
/* line 35, ../../_sass/_screen.scss */
#content em {
  font-style: italic;
  font-weight: bold;
}
/* line 42, ../../_sass/_screen.scss */
#content ins {
  text-decoration: none;
}
/* line 46, ../../_sass/_screen.scss */
#content h1 {
  font-size: 2.5em;
  line-height: 1;
  margin: 0 0 2em;
  text-align: center;
}
/* line 52, ../../_sass/_screen.scss */
#content h1 a {
  display: block;
  position: relative;
  text-decoration: none;
}
/* line 58, ../../_sass/_screen.scss */
#content h1 a:hover time, #content h1 a:active time, #content h1 a:focus time {
  bottom: -2.25em;
  padding-top: .75em;
}
/* line 65, ../../_sass/_screen.scss */
#content h1 span {
  border-bottom: 1px solid #333333;
  display: block;
  padding: 0 0 .5em;
}
/* line 71, ../../_sass/_screen.scss */
#content h1 time {
  background: #fba266;
  border: 0;
  bottom: -2em;
  -moz-border-radius-bottomleft: 25%;
  -webkit-border-bottom-left-radius: 25%;
  border-bottom-left-radius: 25%;
  -moz-border-radius-bottomright: 25%;
  -webkit-border-bottom-right-radius: 25%;
  border-bottom-right-radius: 25%;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  color: white;
  display: block;
  font-size: .4em;
  left: 50%;
  margin-left: -3.25em;
  padding: .5em;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 6.5em;
}
/* line 125, ../../_sass/_screen.scss */
#content h2 {
  font-size: 1.5em;
  margin: 1.5em 0 .5em;
}
/* line 130, ../../_sass/_screen.scss */
#content article {
  border-bottom: 1px solid black;
  border-top: 1px solid #333333;
  padding: 0 0 1em;
}
/* line 137, ../../_sass/_screen.scss */
#content article:last-of-type {
  border-bottom: 0;
}
/* line 141, ../../_sass/_screen.scss */
#content article #comments {
  border-top: 1px solid #333333;
  clear: both;
  margin: 2em 0 0;
  padding: 2em 0 0;
}
/* line 148, ../../_sass/_screen.scss */
#content article .container {
  margin: auto;
  max-width: 60em;
  padding: 3em 1em 1em;
  text-align: left;
  width: 60em;
}
/* line 155, ../../_sass/_screen.scss */
#content article div[class=container] {
  width: auto;
}
/* line 159, ../../_sass/_screen.scss */
#content article .ellipsis {
  color: black;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-shadow: #333333 1px 1px 0;
}
/* line 171, ../../_sass/_screen.scss */
#content article .ellipsis:before {
  content: '\25cb\25cb\25cb';
}
/* line 175, ../../_sass/_screen.scss */
#content article .ellipsis:hover, #content article .ellipsis:active, #content article .ellipsis:focus {
  color: white;
  text-shadow: none;
}
/* line 181, ../../_sass/_screen.scss */
#content article .excerpt {
  text-align: center;
}
/* line 184, ../../_sass/_screen.scss */
#content article .excerpt p {
  margin: 0 0 .5em;
}
/* line 190, ../../_sass/_screen.scss */
#content blockquote {
  border-left: 2px solid #fba266;
  margin: 0 .75em;
  padding: 0 1em;
}
/* line 195, ../../_sass/_screen.scss */
#content blockquote p {
  font-size: 1.5em;
}
/* line 200, ../../_sass/_screen.scss */
#content code {
  background: #e1e1e1;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  border-radius: 0.125em;
  color: black;
  font-family: Consolas, "Courier New", monospace;
  padding: .125em .25em;
  white-space: nowrap;
}
/* line 209, ../../_sass/_screen.scss */
#content p {
  margin: 0 0 1em;
  text-align: justify;
}
/* line 213, ../../_sass/_screen.scss */
#content p.lead {
  font-size: 1.5em;
}
/* line 218, ../../_sass/_screen.scss */
#content pre code {
  display: block;
  margin: 0 0 1em;
  padding: .75em;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  white-space: pre;
}
/* line 228, ../../_sass/_screen.scss */
#content section {
  border-bottom: 1px solid black;
  border-top: 1px solid #333333;
  padding: 2em 0;
}
/* line 235, ../../_sass/_screen.scss */
#content section h1 {
  border: 0;
  font-size: 2em;
  line-height: 1;
  margin: 0 0 1em;
  padding: 0;
  position: relative;
}
/* line 244, ../../_sass/_screen.scss */
#content section .container {
  margin: auto;
  max-width: 60em;
  padding: 0 2em;
  width: 60em;
}
/* line 250, ../../_sass/_screen.scss */
#content section div[class=container] {
  width: auto;
}
/* line 255, ../../_sass/_screen.scss */
#content ul {
  list-style: circle;
  margin: 0 0 1em;
  padding: 0 0 0 1em;
  text-align: justify;
}
/* line 261, ../../_sass/_screen.scss */
#content ul > li {
  list-style: none;
}
/* line 264, ../../_sass/_screen.scss */
#content ul > li:before {
  color: #fba266;
  content: "\25cb";
  display: block;
  left: -1em;
  max-height: 0;
  max-width: 0;
  position: relative;
}
/* line 277, ../../_sass/_screen.scss */
* + html #content ul li {
  list-style: circle;
}

/* line 283, ../../_sass/_screen.scss */
#footer {
  margin: 0 1em 2em;
  padding: .5em 0;
}

/* line 288, ../../_sass/_screen.scss */
#header {
  background: url('/img/header.jpg') 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 3em 0 2em;
  padding-top: 5em;
}

/* line 299, ../../_sass/_screen.scss */
#logo {
  background: black;
  color: white;
  display: inline-block;
  font-size: 1.75em;
  font-weight: bold;
  padding: .65em .25em .65em .65em;
  line-height: 1;
  letter-spacing: .5em;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 315, ../../_sass/_screen.scss */
#logo .blink {
  text-decoration: blink;
}

/* line 320, ../../_sass/_screen.scss */
#master {
  border-top: 1px solid black;
  margin: auto;
}

/* line 325, ../../_sass/_screen.scss */
#navigation {
  border-top: 1px solid #333333;
  display: block;
  padding: 2em .25em 0;
  text-align: center;
}
/* line 331, ../../_sass/_screen.scss */
#navigation a {
  background: #fba266;
  border: 0.5em solid #222222;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  color: white;
  margin: 0 0 .5em;
  overflow: hidden;
  padding: 1em;
  width: 2.5em;
}
/* line 342, ../../_sass/_screen.scss */
#navigation a:hover, #navigation a:focus, #navigation a:active {
  border-color: #e1e1e1;
}
/* line 346, ../../_sass/_screen.scss */
#navigation a:before {
  font-size: 2.5em;
}
/* line 350, ../../_sass/_screen.scss */
#navigation a.email:before {
  content: "\40";
}
/* line 354, ../../_sass/_screen.scss */
#navigation a.github:before {
  content: "\2443";
}
/* line 358, ../../_sass/_screen.scss */
#navigation a.phone:before {
  content: "\2706";
}
/* line 362, ../../_sass/_screen.scss */
#navigation a.twitter:before {
  content: "\74";
}

/* line 368, ../../_sass/_screen.scss */
#search {
  display: none;
  margin: 2em auto 0;
  max-width: 60em;
  width: 60em;
}
/* line 374, ../../_sass/_screen.scss */
html.js #search {
  display: block;
}
/* line 378, ../../_sass/_screen.scss */
#search button {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  height: 100%;
  margin: 0;
  padding: .5em;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  vertical-align: middle;
  width: auto;
  z-index: 2;
}
/* line 399, ../../_sass/_screen.scss */
#search fieldset {
  border: 1px solid black;
  display: block;
  line-height: 1;
  margin: 0 1em;
  padding: 0;
  position: relative;
}
/* line 408, ../../_sass/_screen.scss */
#search input {
  background: none;
  border: 0;
  color: #222222;
  display: block;
  outline: none;
  margin: 0;
  padding: .5em;
  vertical-align: middle;
  width: 75%;
  -webkit-appearance: none;
}
/* line 420, ../../_sass/_screen.scss */
#search input::-webkit-search-cancel-button, #search input::-webkit-search-results-button {
  -webkit-appearance: none;
}
/* line 425, ../../_sass/_screen.scss */
#search label {
  cursor: text;
  display: block;
  position: relative;
  z-index: 1;
}

/* line 432, ../../_sass/_screen.scss */
form[id=search] {
  width: auto !important;
}
