.header
  background color-stop(0) embedurl('header.jpg') 50% 0
  background-size 100% 100%
  padding 1em 0

  a
    background $colors_black
    display inline-block
    font-size 1.125em
    font-weight bold
    letter-spacing .35em
    line-height 2
    padding 0 .3em 0 .65em
    text-transform uppercase