
/* line 4 : /private/var/application/Benedfit/benedfit.com/stylus/critical.styl */

/* line 1 : /private/var/application/Benedfit/benedfit.com/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /private/var/application/Benedfit/benedfit.com/stylus/critical.styl */
body {
  font-size: 18px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
