<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{% if page.title %}{{ page.title }} / {% endif %}{{site.title}}{% endif %}</title>
		<meta name="description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% else %}{{ site.description }}{% endif %}">
		<!--[if (lt IE 9)&(!IEMobile)]><link rel="stylesheet" href="{% asset_path css/no-mq.css %}" media="screen"><![endif]-->
		<!--[if (gte IE 9)|(IEMobile)]><!--><link rel="stylesheet" href="{% asset_path css/mq.css %}" media="screen"><!--<![endif]-->
		<link rel="alternate" type="application/rss+xml" title="Feed / {{site.title}}" href="{{ site.url }}/feed.xml" />
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
		<link rel="icon" href="/favicon.png">
		<!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="msapplication-TileImage" content="/tileicon.png">
		{{ page.head }}
		<!--[if lte IE 9]>{% javascript js/libs/html5 %}<![endif]-->
	</head>
	<body>
		<div id="master">
			<header id="header" role="banner">
				<h1><a id="logo" href="/" rel="home">{% if page.logo %}{{ page.logo }}{% else %}{{ site.logo }}{% endif %}</a></h1>
				<form id="search" role="search" action="/search" method="get"><fieldset><label for="search-input"><input type="search" name="q" id="search-input" autocomplete="off"></label><button id="search-button">Search</button></fieldset></form>
			</header>
			<main id="content" role="main">
				{{ content }}
			</main>
			<section class="h-card">
				<nav id="navigation" role="navigation">
					<a href="mailto:hello@benedfit.com" class="icon email"><span>Email me at <em class="u-email">hello@benedfit.com</em></span></a>
					<a href="https://twitter.com/benedfit" class="icon twitter" rel="me"><span>Follow me on Twitter @<em class="p-nickname">benedfit</em></span></a>
					<a href="https://github.com/benedfit/" class="icon github"><span>Fork me on Github</span></a>
				</nav>
				<footer id="footer" role="contentinfo">&copy; <a href="http://benedfit.com" class="p-name u-url">Ben Edwards</a>. All rights reserved.</footer>
			</section>
		</div>
		<script>document.getElementsByTagName('html')[0].className+='js'</script>
	</body>
</html>