<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
		<title>{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{% if page.title %}{{ page.title }} / {% endif %}{{site.title}}{% endif %}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<style>{% asset css/critical.css %}</style>
		<meta name="description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% else %}{{ site.description }}{% endif %}">
		<meta name="author" content="{{ site.authorName }}">
		<link rel="canonical" href="{{ site.url }}{{ page.url | remove: 'index.html' }}">
		<link rel="alternate" type="application/rss+xml" title="Feed / {{site.title}}" href="{{ site.url }}/feed.xml">
		<link rel="author" href="{{ site.authorUrl }}">
		<link rel="source" href="https://github.com/benedfit/benedfit.github.io">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"><![endif]-->
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png">
		<meta itemprop="name" content="{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}{% endif %}">
		<meta itemprop="description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% else %}{{ site.description }}{% endif %}">
		<meta itemprop="image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.authorImage }}{% endif %}">
		<meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
		<meta property="og:type" content="{% if page.ogType %}{{ page.ogType }}{% else %}website{% endif %}">
		<meta property="og:site_name" content="{{ site.url | remove: 'http://' }}">
		<meta property="og:title" content="{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}{% endif %}">
		<meta property="og:description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% else %}{{ site.description }}{% endif %}">
		<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.authorImage }}{% endif %}">
		<meta property="og:updated_time" content="{{ site.time | date_to_xmlschema }}">
		<meta property="fb:profile_id" content="100001139733853">
		{% if page.ogType == 'article' %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema  }}">
		<meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}">
		<meta property="article:author" content="{{ site.url }}/">
		{% elsif page.ogType == 'profile' %}{% assign names = site.authorName | split: ' ' %}<meta property="profile:first_name" content="{{ names[0] }}">
		<meta property="profile:last_name" content="{{ names[1] }}" />{% endif %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@benedfit">
		<meta name="twitter:domain" content="{{ site.url | remove: 'http://' }}">
		<meta name="twitter:title" content="{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}{% endif %}">
		<meta name="twitter:description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% else %}{{ site.description }}{% endif %}">
		<meta name="twitter:creator" content="@benedfit">
		<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.authorImage }}{% endif %}">
		{% if page.image %}<meta name="twitter:image" content="{{ page.image }}">{% endif %}
		{% if page.noindex or site.noindex %}<meta name="robots" content="noindex,nofollow">{% endif %}
		<!--[if lte IE 9]><script src="{% asset_path js/libs/html5.js %}"></script><![endif]-->
	</head>
	<body>
		{% include header.html %}
		<main class="content{% if page.cssClass %} {{ page.cssClass }}{% endif %}" role="main">
			<div id="content-container" class="container">
				{{ content }}
			</div>
		</main>
		{% include breadcrumb.html %}
		{% include footer.html %}
		<script>
			var cb = function() {
				var l = document.createElement('link'); l.rel = 'stylesheet'; l.href = '{% asset_path css/non-critical.css %}';
        			var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      			};
      			var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
      			if (raf) raf(cb);
      			else window.addEventListener('load', cb);
    		</script>
		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  			ga('create', 'UA-34470231-1', 'benedfit.com');
  			ga('send', 'pageview');
		</script>
	</body>
</html>