<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{% if page.title %}{{ page.title }} / {% endif %}{{site.title}}{% endif %}</title>
		<meta name="description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% else %}{{ site.description }}{% endif %}">
		<!--[if (lt IE 9)&(!IEMobile)]><link rel="stylesheet" href="{% asset_path css/no-mq.css %}"><![endif]-->
		<!--[if (gte IE 9)|(IEMobile)]><!--><link rel="stylesheet" href="{% asset_path css/mq.css %}"><!--<![endif]-->
		<link rel="alternate" type="application/rss+xml" title="Feed / {{site.title}}" href="{{ site.url }}/feed.xml">
		<link rel="author" href="https://plus.google.com/113075712298834271557">
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
		<link rel="icon" href="/favicon.png">
		<!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="msapplication-TileImage" content="/tileicon.png">
		{% if page.noindex or site.noindex %}<meta name="robots" content="noindex,nofollow">{% endif %}
		<!--[if lte IE 9]>{% javascript js/libs/html5 %}<![endif]-->
	</head>
	<body class="language-markup">
		{% include header.html %}
		<main class="content" role="main">
			<div id="content-container" class="container">
				{{ content }}
			</div>
		</main>
		{% include footer.html %}
		<script>document.getElementsByTagName('html')[0].className+='js'</script>
		{% javascript js/libs/prism %}
	</body>
</html>