//- :verbatim
//-   ---
//-   layout: default
//-   archive_title: 'Archive for %m%Y'
//-   year_format: '%Y'
//-   month_format: '%B, '
//-   month_menuFormat: '%B'
//-   hidden: true
//-   ---
extend default

h1= title
//- :verbatim
//-   {% assign posts = page.period_posts %}
//-   {% if posts == null %}{% assign posts = site.posts %}{% endif %}
//-   {% for page in posts %}
//-     {{ separator }}
//-     {% capture separator %}
//-     <hr>
//-     {% endcapture %}
//-     {% include post.html %}
//-   {% endfor %}