@include critical(false){
  .menu{
    $height:5em;
    max-height:$height;
    overflow:hidden;
    @include transition(max-height 250ms ease-in-out);
    
    #menu-toggle:not(:checked) ~ &{
      max-height:0;
    }
    
    #menu-toggle:checked ~ &{
      max-height:$height;
    }
  }
}
/*.header{
  .toggle-input{
    display:none;
  }
  
  .toggle-label{
    cursor:pointer;
    display:inline-block;
    line-height:1;
    
    i{
      font:{
        size:2em;
        style:normal;
      }
      letter-spacing:-.25em;
      padding:0 .25em 0 0;
    }
    
    span{
      display:none;
    }
  }
}*/