@include critical(false){
  [data-yesscript]{
    display:none;
  
    html.js &{
      display:block;
    }
  }
   
  .search{
    $height:1em;
    display:none;
    max-height:$height;
    overflow:hidden;
    @include transition(max-height 250ms ease-in-out);
    
    #search-toggle:not(:checked) ~ &{
      max-height:0;
    }
    
    #search-toggle:checked ~ &{
      max-height:$height;
    }
  }
}