@require 'stylus-mixins'
@require 'utilities/_settings'

html
  text-size-adjust 100%

body
  background $color--black-light
  color $color--white
  font 112.5%/1.5 $font--base
  margin 0

  +width-min($bp--first)
    line-height 1.75

a
  border-bottom 1px dotted $color--grey-light
  border-color alpha($color--grey-light, .5)
  color: $color--white
  text-decoration none
  transition border-color .25s ease-in-out

  &:hover, &:active, &:focus
    border-color transparent

.container
  margin auto
  max-width 60em
  padding 2em 1em
  width 60em

[class=container]
  width auto

@require 'components/*'