@import 'stylus-mixins'
@import 'utilities/_settings'

html
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%

body
  background $color--black-light
  color $color--white
  font 112.5%/1.5 $font--base
  margin 0

  +width-min($bp--wide)
    line-height 1.75

a
  border-bottom 1px dotted
  border-bottom-color $color--orange
  color $color--white
  text-decoration none
  transition border-color 0.25s ease-in-out

  &:hover
  &:active
  &:focus
    border-color transparent

.container
  margin auto
  max-width 45em
  padding 2em 1em
  width auto

@import 'components/*'
@import 'utilities/_print'
