@include jacket(critical){
  .content{
    background:$colour-grey;
    display:block;
    padding:2em 0;
    text-align:left;

    abbr[title]{
      border-bottom:1px dotted $colour-black-light;
    }

    b,strong{
      font-weight:bold;
    }

    blockquote{
      @extend %vr;
      font:{
        size:1.25em;
        weight:300;
      }
      margin:1.5em 0;
      padding:0 1em;

      a{
        color:$colour-grey-light;
      }

      cite{
        display:block;

        &:before{
          color:$colour-grey-light;
          content:"\2012";
          margin:0 .2em 0 -.575em
        }
      }

      p{
        margin:0;
      }

      q:before{
        margin-left:-.5em;
      }

      time{
        font-size:.666em;
        margin:0 0 0 .25em;
      }

      @include breakpoint($breakpoint-first){
        font-size:1.5em;
        line-height:1.45;
      }
    }

    code{
      background:$colour-black;
      color:$colour-white;
      font-family:$font-monospace;
      hyphens:none;
      padding:.15em .25em;
      tab-size:4;
      white-space:pre-wrap;

	  .c,.c1,.cm,.p{
		color:$colour-grey-light;
	  }

	  .cp,.mi,.sr{
		color:$colour-orange;
	  }

	  .k,.nt{
		color:$colour-blue;
	  }

	  .kd,.s{
		color:$colour-pink;
	  }

	  .na,.nb{
		color:$colour-yellow;
	  }

	  .o,.sx{
		color:$colour-green;
	  }
    }

    del,s{
      color:$colour-grey-light;
      font-weight:300;
    }

    dfn,em,i,var{
      font-style:italic;
    }

    h1{
      @extend %hr;
      font:{
        size:2em;
        weight:300;
      }
      line-height:1.25;
      margin:0 0 .75em;
      padding:0 0 .333333em;

      a{
        border-color:$colour-black-light;
        border-image:none;
      }

      @include breakpoint($breakpoint-first){
        font-size:2.5em;
        line-height:1.125;
      }

      @include breakpoint($breakpoint-second){
        font-size:3em;
        line-height:1.25;
      }
    }

    h2{
      font:{
        size:1.625em;
        weight:300;
      }
      line-height:1.15;
      margin:1em 0;

      @include breakpoint($breakpoint-first){
        font-size:2em;
        line-height:1.25;
      }

      @include breakpoint($breakpoint-second){
        font-size:2.25em;
      }
    }

    h3{
      font-size:1.375em;
      line-height:1.15;
      margin:0 0 1em;

      @include breakpoint($breakpoint-first){
        font-size:1.5em;
        line-height:1.25;
      }

      @include breakpoint($breakpoint-second){
        font-size:1.75em;
      }
    }

    h4{
      font-size:1.125em;
      line-height:1.1;
      margin:0 0 .5em;

      @include breakpoint($breakpoint-first){
        line-height:1.2;
      }
    }

    h5,h6{
      margin:0 0 .25em;
    }

    hr{
      border:{
        left:0;
        right:0;
        top:0;
      }
      @extend %hr;
      height:0;
      margin:0 0 1.5em;
      overflow:hidden;
    }

    ins,u{
      font-weight:300;
    }

    kbd,samp{
      font-family:$font-monospace;
    }

    li{
      margin:.5em;
    }

    mark{
      background:$colour-black;
      color:$colour-white;
      font-weight:300;
      padding:.15em .25em;
    }

    ol{
      counter-reset:li;
      list-style:decimal;
      margin:0 0 1em;
      padding:0 0 0 1em;

      & > li{
        list-style:none;

        &:before{
          color:$colour-grey-light;
          content:counter(li)".";
          counter-increment:li;
          display:block;
          font:{
            size:.85em;
            style:italic;
            weight:300;
          }
          left:-1.25em;
          line-height:1.75;
          max:{
            height:0;
            width:0;
          }
          position:relative;

          @include breakpoint($breakpoint-first){
            line-height:2;
          }
        }
      }

      * + html & li{
        list-style:decimal;
      }
    }

    p{
      margin:0 0 1.5em;
    }

    pre{
      font-family:$font-monospace;
      margin:2em 0;
      white-space:pre-wrap;
    }

    q{
      quotes:"“" "”" "‘" "’";

      &:after{
        color:$colour-grey-light;
        content:close-quote;
      }

      &:before{
        color:$colour-grey-light;
        content:open-quote;
      }
    }

    small{
      font-size:smaller;
    }

    sub{
      font-size:smaller;
      vertical-align:sub;
    }

    sup{
      font-size:smaller;
      vertical-align:super;
    }

    table{
      border-right:1px solid $colour-grey;
      border-collapse:collapse;
      margin:0 0 1.5em;
      width:100%;

      td,th{
        border:0 dotted $colour-grey-light;
        border:{
          color:rgba($colour-grey-light,.5);
          right-width:1px;
          top-width:1px;
        }
        font-weight:300;
        padding:0 .5em;
      }

      th{
        border:{
          bottom-style:solid;
          bottom-width:1px;
          top:0;
        }
        font-weight:bold;
        padding:.25em .5em;
      }
    }

    time{
      color:$colour-grey-light;

      a{
        color:$colour-grey-light;
      }
    }

    ul{
      list-style:circle;
      margin:0 0 1em;
      padding:0 0 0 1em;

      & > li{
        list-style:none;

        &:before{
          color:$colour-grey-light;
          content:"\25cb";
          display:block;
          left:-1em;
          max:{
            height:0;
            width:0;
          }
          position:relative;
        }
      }

      * + html & li{
        list-style:circle;
      }
    }

    .hgroup{
      @extend %hr;
      margin:0 0 2.25em;
      padding:0 0 1em;

      *{
        display:inline;
      }

      a{
        border-color:$colour-black-light;
      }

      h1{
        border:none;
        margin:0 .25em 0 0;
        padding:0;
      }

      h2{
        margin-right:.125em;
      }
    }

    .video{
      height:0;
      overflow:hidden;
      margin:0 0 1.5em;
      padding:0 0 56.25%;
      position:relative;

      embed,iframe,object{
        height:100%;
        left:0;
        position:absolute;
        top:0;
        width:100%;
      }
    }
  }
}