@include critical(false){
  .footer{
    color:$colour-grey-light;
    overflow:hidden;
    padding:3em 0;
    
    a{
      display:inline-block;
      margin:0 .5em 1em;
    }
    
    p{
      font-weight:300;
      margin:0 0 2em;
    }
    
    .established{
      @include border-radius(100%);
      @include box-shadow(0 0 0 1px $colour-grey-light inset);
      display:inline-block;
      line-height:1.15;
      padding:1em;
      text-transform:uppercase;
      
      abbr{
        display:block;
      }
    }
  }
}