@include jacket(critical){
  .footer{
    color:$colour-grey-light;
    font-weight:300;
    overflow:hidden;
    padding:3em 0 2em;

    a,small{
      display:inline-block;
      margin:0 .5em 1em;
    }
  }
}