@include jacket(critical){
  .header{
    background:image-url("header.jpg") 50% 0;
    @include background-size(100% auto);
    padding:1em 0;
    text-align:left;
  
    @include breakpoint($breakpoint-second){
      padding:2em 0;
    }
  }
}