.container{
  margin:auto;
  max-width:pxtoem($breakpoint-max);
  padding:0 1em;
  width:pxtoem($breakpoint-max);
  
  @include breakpoint($breakpoint-first){
    padding:0 2em;
  }
}
div[class=container]{
  width:auto;
}