@include jacket(critical){
  .logo{   
      background:$colour-black;
      border:0;
      color:$colour-white;
      display:inline-block;
      font-weight:bold;
      line-height:2;
      padding:0 .65em .25em;
      text:{
        decoration:none;
        transform:uppercase;
      }
      
      span{
        letter-spacing:.35em;
      }
    
      @include breakpoint($breakpoint-second){
        font-size:1.25em;
      }
  }
}