.post{
  @extend %hr;
  clear:both;
  margin:0 0 3em;
  padding:0 0 2em;
  
  &:last-of-type{
    border:0;
    margin:0;
    padding:0;
  }
  
  footer{
    display:none;
  }
  
  time{
    color:$colour-grey-light;
    
    a{
      color:$colour-grey-light;
    }
  }
  
  .ellipsis{
    border:0;
    display:block;
    font-size:2.25em;
    line-height:1;
    text:{
      align:center;
      decoration:none;
    }
    @include text-shadow($colour-grey 1px 1px 0);
    
    &:before{
      color:$colour-black;
      content:'\25cb\25cb\25cb';
      @include transition(color .25s ease-in-out);
    }
    
    &:hover,&:active,&:focus{
      @include text-shadow(none);
      
      &:before{
        color:$colour-grey-light;
      }
    }
    
    span{
      display:none;
    }
  }
  
  @include breakpoint($breakpoint-second){
    .ellipsis{
      font-size:1.5em;
    }
  }
}