.icon-email { background-image: url(../../img/icons/email.png); background-repeat: no-repeat; }

.icon-github { background-image: url(../../img/icons/github.png); background-repeat: no-repeat; }

.icon-twitter { background-image: url(../../img/icons/twitter.png); background-repeat: no-repeat; }
