.container(role=complementary)
  h1 Hi I'm Ben.
  h2 Ultimate Knot-tier* and Head of Front-end Development at 
    a(href='http://clock.co.uk/') Clock.
    br
    small *according to my daughter
  p Why not take a read through my latest articles and 
    a(href='https://twitter.com/' + authorHandle) get in touch via Twitter
    |  or 
    a(href='mailto:' + authorEmail) drop me an email
    |  if you want to chat.
