.container(role=complementary)
  h1 Hi I'm Ben.
  h2 Ultimate Knot-tier*, Web Designer and Developer.
    br
    small *according to my daughter
  p Why not take a read through my latest articles and 
    a(href='https://twitter.com/' + authorHandle, rel='me') get in touch via Twitter
    |  or 
    a(href='mailto:' + authorEmail, rel='me') drop me an email
    |  if you want to chat.
