$hr
  border 0
  border-image linear-gradient(90deg, $color--gradient) 100% 1

$vr
  border 0
  border-image linear-gradient($color--gradient) 1 100%

.content
  background $color--grey

p
  margin 0 0 1.5em

h1
  @extend $hr
  border-bottom 1px solid
  border-color $color--grey-light
  border-color rgba($color--grey-light, 0.5)
  font-size 2em
  line-height 1.25
  margin 0 0 0.75em
  padding 0 0 0.25em

  +width-min($bp--wide)
    font-size 3em
    line-height 1.25

  a
    border-color $color--black-light

h2
  font-size 1.625em
  line-height 1.15
  margin 1em 0

  +width-min($bp--wide)
    font-size 2.25em
    line-height 1.25

  a
    border-color $color--black-light

small
  color $color--grey-light

  a
    color $color--grey-light

.ellipsis
  border 0
  display block
  line-height 1
  margin 0 0 1.5em
  text-align center
  text-decoration none
  text-shadow $color--grey 1px 1px 0

  &:before
    color $color--black
    content '○○○'
    font-size 2.25em
    transition color 0.25s ease-in-out

  &:hover
  &:active
  &:focus
    text-shadow none

    &:before
      color $color--grey-light

  span
    display none

h3
  font-size 1.375em
  line-height 1.15
  margin 0 0 1em

  +width-min($bp--wide)
    font-size 1.75em
    line-height 1.25

h4
h5
h6
  line-height 1.1
  margin 0 0 0.5em

  +width-min($bp--wide)
    line-height 1.2

hr
  @extend $hr
  border-bottom 1px solid
  border-color $color--grey-light
  border-color rgba($color--grey-light, 0.5)
  height 0
  margin 0 0 1.5em
  overflow hidden

p
  margin 0 0 1.5em

li
  margin 0.5em

ul
  list-style circle
  margin 0 0 1em
  padding 0 0 0 1em

  > li
    list-style none

    &:before
      color $color--grey-light
      content '○'
      display block
      left -1em
      max-height 0
      max-width 0
      position relative

  * + html & li
    list-style circle

ol
  counter-reset li
  list-style decimal
  margin 0 0 1em
  padding 0 0 0 1em

  > li
    list-style none

    &:before
      color $color--grey-light
      content counter(li)'.'
      counter-increment li
      display block
      font-style italic
      left -1.25em
      max-height 0
      max-width 0
      position relative

  * + html & li
    list-style decimal

blockquote
  @extend $vr
  border-left 1px solid
  border-color $color--grey-light
  border-color rgba($color--grey-light, 0.5)
  font-size 1.35em
  margin 1.5em 0
  padding 0 1em

  a
    color $color--grey-light

  cite
    display block
    font-style normal

    &:before
      color $color--grey-light
      content '-'
      margin 0 0.2em 0 -0.575em

  p
    margin 0

  q:before
    margin-left -0.5em

  time
    margin 0 0 0 0.25em

q
  quotes '“' '”' '‘' '’'

  &:after
    color $color--grey-light
    content close-quote

  &:before
    color $color--grey-light
    content open-quote

pre
  font-family $font--monospace
  margin 2em 0
  overflow auto

code
  background $color--black
  // box-decoration-break clone
  color $color--white
  font-family $font--monospace
  hyphens none
  padding 0.15em 0.25em
  tab-size 4

.hljs-attribute
  color $color--yellow

.hljs-built_in
  color $color--green

.hljs-comment
.hljs-tag
  color $color--grey-light

.hljs-important
.hljs-regexp
  color $color--orange

.hljs-keyword
.hljs-string
.hljs-value
  color $color--pink

.hljs-title
  color $color--blue

abbr[title]
  border-bottom 1px dotted $color--black-light
  cursor help

del
s
  color $color--grey-light

kbd
samp
  font-family $font--monospace

mark
  background $color--black
  color $color--white
  padding 0.15em 0.25em

table
  border-right 1px solid $color--grey
  border-collapse collapse
  margin 0 0 1.5em
  width 100%

  td
  th
    border 0 dotted
    border-color $color--grey-light
    border-color rgba($color--grey-light, 0.5)
    border-right-width 1px
    border-top-width 1px
    padding 0 0.5em

  th
    border-bottom-style solid
    border-bottom-width 1px
    border-top 0
    font-weight bold
    padding 0.25em 0.5em

.video
  height 0
  overflow hidden
  margin 0 0 1.5em
  padding-bottom ratio-percentage(9, 16)
  position relative

  embed
  iframe
  object
    border 0
    height 100%
    left 0
    position absolute
    top 0
    width 100%
