.footer
  color $color--grey-light
  font-weight 300
  padding 3em 0.65em 2em
  text-align center

  a
  span
    display inline-block
    margin 0 0.35em 1em

  a
    border-color $color--grey-light
    border-color rgba($color--grey-light, 0.5)
