.header
  background-color $color--pink
  position relative
  overflow hidden

  $color = rgba($color--black, 10%)
  $bg-color = linear-gradient(135deg, $color--gradient)
  $diameter = 6px
  $distance = 35px

  $radius = ($diameter / 2)
  $size = ($distance + $diameter)

  .background
    background radial-gradient($color ($radius - 1), transparent $radius)
      , radial-gradient($color ($radius - 1), transparent $radius)
      , $bg-color
    background-position 0 0, ($size / 2) ($size / 2), 0 0
    background-size $size $size, $size $size, 100% 100%
    position absolute
    height 100%
    width 100%
    z-index 1

  .container
    padding 1em
    position relative
    z-index 2

  mark
    display inline-block
    font-size 1.25em
    font-weight bold
    letter-spacing 0.35em
    line-height 2
    padding 0 0.3em 0 0.65em
    text-transform uppercase

  +width-min($bp--wide)
    .container
      padding 2em 1em
