.header
  background-color $color--black
  position relative
  overflow hidden

  .background
    background-image embedurl('/img/header.jpg')
    background-size 100% 100%
    $blur = 5px
    filter blur($blur)
    margin -($blur)
    padding $blur
    position absolute
    height 100%
    width 100%
    z-index 1

  .container
    padding 1em
    position relative
    z-index 2

  mark
    display inline-block
    font-size 1.25em
    font-weight bold
    letter-spacing 0.35em
    line-height 2
    padding 0 0.3em 0 0.65em
    text-transform uppercase

  +width-min($bp--wide)
    .container
      padding 2em 1em
