.header
  background-color $color--black
  background-image embedurl('img/_header.jpg')
  background-size 100% 100%

  .container
    padding 1em

  a
    background $color--black
    border 0
    display inline-block
    font-size 1.25em
    font-weight bold
    letter-spacing 0.35em
    line-height 2
    padding 0 0.3em 0 0.65em
    text-transform uppercase

  +width-min($bp--wide)
    .container
      padding 2em 1em
