.footer(role='contentinfo')
  small &copy; {{ site.time | date: '%Y' }} 
  a(href='{{ site.url }}') {{ site.authorName }} 
  a(href='/styleguide/') Styleguide 
  a(href='mailto:hello@benedfit.com') Email 
  a(href='https://twitter.com/benedfit') Twitter 
  a(href='https://github.com/benedfit/') GitHub 
  a(href='https://codepen.io/benedfit/') CodePen