.footer(role='contentinfo')
  span &copy; {{ site.time | date: '%Y' }}
  a(href='{{ site.url }}') {{ site.authorname }}
  | {% for page in site.pages %}
  | {% if page.inmenu %}
  a(href='{{ page.url }}') {{ page.title }}
  | {% endif %}
  | {% endfor %}
  a(href='mailto:{{ site.authoremail }}') Email
  a(href='https://twitter.com/{{ site.authorhandle }}', rel='me') Twitter
  a(href='https://github.com/{{ site.authorhandle }}/', rel='me') GitHub
  a(href='https://codepen.io/{{ site.authorhandle }}/', rel='me') CodePen