| {% capture title %}
a(href='{{ page.url }}', rel='bookmark') {{ page.title }}
| {% endcapture %}
| {% capture date %}
time(datetime='{{ page.date | date_to_xmlschema  }}')
  a(href="{{ page.date | date: '/%Y/%m/' }}", rel='directory') {{ page.date | date: "%B" }}
  | &nbsp;{{ page.date | date: "%-d" }},&nbsp;
  a(href="{{ page.date | date: '/%Y/' }}", rel='directory') {{ page.date | date: "%Y" }}
| {% endcapture %}
| {% if include.full %}
h1 {{ title }} {{ date }}
| {{ content }}
| {% else %}
article
  h2 {{ title }} {{ date }}
  | {{ page.excerpt | markdownify }}
  a.ellipsis(href='{{ page.url }}')
    span(aria-hidden='false') Read more
| {% endif %}