$colour-black:#000;
$colour-black-light:#222;
$colour-blue:#8ea9d7;
$colour-green:#cd7;
$colour-grey:#333;
$colour-grey-light:#bbb;
$colour-orange:#fba266;
$colour-pink:#f786ad;
$colour-white:#fff;
$colour-yellow:#ff7;