@include font-face("Muli", font-files("muli/regular.woff", "muli/regular.ttf", "muli/regular.svg#MuliRegular"), "muli/regular.eot", normal, normal);
@include font-face("icons", font-files("icons/icons.woff", "icons/icons.ttf", "icons/icons.svg#icons"), "icons/icons.eot", normal, normal);

$font-base:"Muli",Arial,sans-serif;
$font-icon:"icons";
$font-monospace:Consolas,monaco,monospace;