@function pxtoem($px,$basepx:16){
  @return (($px/($px*0+1))/$basepx)+0em;
}

%icon{  
  display:inline-block;
  line-height:1;
  text-decoration:none;
  
  &:before{
    content:attr(data-icon);
    font:{
      family:$font-icon;
      style:normal;
      variant:normal;
      weight:normal;
    }
    speak:none;
    text-align:center;
    vertical-align:middle;
  }
  
  span{
    font:0/0 a;
    
    &:not([href]){
      display:block;
      overflow:hidden;
      width:1px;
    }
  }
  
  * html & span{
    font:1em/1 $font-base;
  }
  
  * + html & span{
    font:1em/1 $font-base;
  }
}