%hr{
  background:image-url("hr.jpg") repeat-x 0 100%;
  @include background-size(100% 1px);
}

body{
  background:$black-light;
  color:$white;
  font:100%/1.5 $font-base;
  text-align:center;
  
  @include breakpoint($breakpoint-first){
    line-height:1.75;
  }
}

a{
  border-bottom:1px dotted $grey-light;
  border-color:rgba($grey-light,.5);
  color:$white;
  text-decoration:none;
  @include transition(border-color .25s ease-in-out);
  
  &:hover,&:active,&:focus{
    border-color:transparent !important;
  }
}

abbr[title]{
  cursor:help;
}

[data-yesscript]{
  display:none;
  
  html.js &{
    display:block;
  }
}

.button{
  background:transparent;
  background:rgba($white,.15);
  border:0;
  @include border-radius(.25em);
  @include box-shadow($white 0 0 0 1px inset);
  color:$white;
  cursor:pointer;
  display:inline-block;
  font:{
    family:inherit;
    size:1em;
    weight:300;
  }
  height:auto;
  line-height:1;
  margin:0 0 .5em;
  outline:0;
  overflow:visible;
  padding:.85em 2em;
  @include transition(background .25s ease-in-out);
  vertical-align:middle;
  width:auto;
  -webkit-appearance:none;
  
  &:hover,&:active,&:focus{
    background:rgba($white,.25);
  }
}

.container{
  margin:auto;
  max-width:pxtoem($breakpoint-max);
  padding:0 1em;
  width:pxtoem($breakpoint-max);
  
  @include breakpoint($breakpoint-first){
    padding:0 2em;
  }
}
div[class=container]{
  width:auto;
}

.content{
  background:$grey;
  padding:2em 0;
  text-align:left;
  
  abbr[title]{
    border-bottom:1px dotted $black-light;
  }
  
  b,strong{
    font-weight:bold;
  }
  
  blockquote{
    border-left:2px solid $orange;
    font:{
      size:1.25em;
      weight:300;
    }
    margin:1.5em 0;
    padding:0 1em;
    
    @include breakpoint($breakpoint-first){
      font-size:1.5em;
      line-height:1.45;
    }
  }
  
  code{
    background:$grey-light;
    @include border-radius(.125em);
    color:$black;
    font-family:$font-monospace;
    padding:.1em .25em;
  }
  
  del{
    color:$grey-light;
  }
  
  dfn,em,i,var{
    font-style:italic;
  }
 
  h1{
    @extend %hr;
    font:{
      size:2em;
      weight:300;
    }
    line-height:1.25;
    margin:0 0 .75em;
    padding:0 0 .333333em;
    
    a{
      border-color:$black-light;
    }
    
    @include breakpoint($breakpoint-first){
      font-size:2.5em;
      line-height:1.125;
    }
    
    @include breakpoint($breakpoint-second){
      font-size:3em;
      line-height:1.25;
    }
  }
  
  h2{
    font:{
      size:1.625em;
      weight:300;
    }
    line-height:1.15;
    margin:1em 0;
    
    @include breakpoint($breakpoint-first){
      font-size:2em;
      line-height:1.25;
    }
    
    @include breakpoint($breakpoint-second){
      font-size:2.25em;
    }
  }
  
  h3{
    font-size:1.375em;
    line-height:1.15;
    margin:0 0 1em;
    
    @include breakpoint($breakpoint-first){
      font-size:1.5em;
      line-height:1.25;
    }
    
    @include breakpoint($breakpoint-second){
      font-size:1.75em;
    }
  }
  
  h4{
    font-size:1.125em;
    line-height:1.1;
    margin:0 0 .5em;
    
    @include breakpoint($breakpoint-first){
      line-height:1.2;
    }
  }
  
  h5,h6{
    margin:0 0 .25em;
  }
  
  hr{
    @extend %hr;
    border:0;
    height:1px;
    margin:0 0 1.5em;
    overflow:hidden;
  }
  
  ins{
    color:$grey-light;
    font-weight:300;
  }
  
  kbd,samp{
    font-family:$font-monospace;
  }
  
  li{
    margin:.5em;
  }
  
  mark{
    background:$orange;
  }
  
  ol{
    counter-reset:li;
    list-style:decimal;
    margin:0 0 1em;
    padding:0 0 0 1em;
    
    & > li{
      list-style:none;
      
      &:before{
        color:$grey-light;
        content:counter(li)".";
        counter-increment:li;
        display:block;
        font:{
          size:.85em;
          style:italic;
          weight:300;
        }
        left:-1.25em;
        line-height:2;
        max:{
          height:0;
          width:0;
        }
        position:relative;
      }
    }
    
    * + html & li{
      list-style:decimal;
    }
  }
  
  p{
    margin:0 0 1.5em;
  }
  
  pre{
    font-family:$font-monospace;
    margin:2em 0;
    
    code{
      @include border-radius(.25em);
      display:block;
      font-size:.85em;
      line-height:1.25;
      margin:0 0 1em;
      overflow-x:scroll;
      padding:.75em 1em;
      -moz-tab-size:2;
      -o-tab-size:2;
      tab-size:2;
      white-space:pre;
    }
  }
  
  q{
    quotes:"“" "”" "‘" "’";
    
    &:after{
      content:close-quote;
    }
      
    &:before{
      content:open-quote;
    }
  }
  
  small{
    font-size:smaller;
  }
  
  sub{
    font-size:smaller;
    vertical-align:sub;
  }
  
  sup{
    font-size:smaller;
    vertical-align:super;
  }
  
  ul{
    list-style:circle;
    margin:0 0 1em;
    padding:0 0 0 1em;
    
    & > li{
      list-style:none;
      
      &:before{
        color:$orange;
        content:"\25cb";
        display:block;
        left:-1em;
        max:{
          height:0;
          width:0;
        }
        position:relative;
      }
    }
    
    * + html & li{
      list-style:circle;
    }
  }
}

.footer{
  color:$grey-light;
  overflow:hidden;
  padding:3em 0;
  
  a{
    display:inline-block;
    margin:0 .5em 1em;
  }
  
  p{
    font-weight:300;
    margin:0 0 2em;
  }
  
  .established{
    border:1px solid $grey-light;
    @include border-radius(100%);
    display:inline-block;
    line-height:1.15;
    padding:1em;
    text-transform:uppercase;
    
    abbr{
      display:block;
    }
  }
}

.header{
  background:image-url("header.jpg") 50% 0;
  @include background-size(cover);
  overflow:hidden;
  padding:1em 0;
  text-align:left;
  
  @include breakpoint($breakpoint-second){
    padding:2em 0;
  }
}

.logo{
  background:$black;
  border:0;
  color:$white;
  display:inline-block;
  float:left;
  font-weight:bold;
  letter-spacing:.5em;
  line-height:1;
  padding:.5em 0 .5em .5em;
  text:{
    decoration:none;
    transform:uppercase;
  }
  
  @include breakpoint($breakpoint-second){
    font-size:1.25em;
  }
}

.menu{
  $height:5em;
  
  text-align:right;
  
  input{
    display:none;
    
    /*&:not(:checked) ~ ul{
      max-height:0;
    }
      
    &:checked ~ ul{
      max-height:$height;
    }*/
  }
  
  label{
    //cursor:pointer;
    display:inline-block;
    line-height:1;
    
    i{
      font:{
        size:2em;
        style:normal;
      }
      letter-spacing:-.25em;
      padding:0 .25em 0 0;
      visibility:hidden;
    }
    
    span{
      display:none;
    }
  }

  ul{
    display:none;
    max-height:$height;
    overflow:hidden;
    @include transition(max-height 250ms ease-in-out);
  }
}

.post{
  @extend %hr;
  clear:both;
  margin:0 0 3em;
  padding:0 0 2em;
  
  &:last-of-type{
    background:none;
    margin:0;
    padding:0;
  }
  
  &.post-full{
    h1{
      background:none;
      margin:0;
      padding:0;
    }
    
    header{
      @extend %hr;
      margin:0 0 2.25em;
      padding:0 0 1em;
    }
  }
  
  header{
    margin:0 0 2em;
    
    a{
      border-color:$black-light;
    }
    
    h1,h2{
      display:inline;
    }
  }
  
  footer{
    display:none;
  }
  
  time{
    color:$grey-light;
    
    a{
      color:$grey-light;
    }
  }
  
  .ellipsis{
    border:0;
    display:block;
    font-size:1.5em;
    line-height:1;
    text:{
      align:center;
      decoration:none;
    }
    @include text-shadow($grey 1px 1px 0);
    
    &:before{
      color:$black;
      content:'\25cb\25cb\25cb';
      @include transition(color .25s ease-in-out);
    }
    
    &:hover,&:active,&:focus{
      @include text-shadow(none);
      
      &:before{
        color:$grey-light;
      }
    }
    
    span{
      display:none;
    }
  }
}

.search{
  max-width:pxtoem($breakpoint-max);
  width:pxtoem($breakpoint-max);
  
  button{
    background:none;
    border:0;
    color:$white;
    cursor:pointer;
    display:block;
    height:100%;
    margin:0;
    padding:.5em;
    position:absolute;
    right:0;
    text:{
      align:right;
      transform:uppercase;
    }
    top:0;
    vertical-align:middle;
    width:auto;
    z-index:2;
  }
  
  fieldset{
    border:1px solid $black;
    display:block;
    line-height:1;
    padding:0;
    position:relative;
  }
  
  input{
    background:none;
    border:0;
    color:$black-light;
    display:block;
    outline:none;
    margin:0;
    padding:.5em;
    vertical-align:middle;
    width:75%;
    -webkit-appearance:none;
    
    &::-webkit-search-cancel-button,&::-webkit-search-results-button{ 
      -webkit-appearance:none; 
    }
  }
  
  label{
    cursor:text;
    display:block;
    position:relative;
    z-index:1;
  }
}
form[class=search]{
  width:auto;
}

.video{
  height:0;
  overflow:hidden;
  margin:0 0 1.5em;
  padding:0 0 56.25%;
  position:relative;
 
  embed,iframe,object{
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
  }
}