body{
  background:$black-light;
  color:$white;
  font:100%/1.5 $font-base;
  text-align:center;
  
  @include breakpoint($breakpoint-first){
    line-height:1.75;
  }
}

[data-yesscript]{
  display:none;
  
  html.js &{
    display:block;
  }
}

.container{
  margin:auto;
  max-width:pxtoem($breakpoint-max);
  padding:0 1em;
  width:pxtoem($breakpoint-max);
}
div[class=container]{
  width:auto;
}

.content{
  background:$grey;
  padding:2em 0;
  text-align:left;
  
  a{
    border-bottom:1px solid $black-light;
    color:$white;
    text-decoration:none;
  }
  
  blockquote,li,p{
    a{
      border-color:$orange;
    }
  }
  
  blockquote{
    border-left:2px solid $orange;
    font:{
      size:1.25em;
      weight:300;
    }
    margin:0 .75em;
    padding:0 1em;
    
    @include breakpoint($breakpoint-first){
      font-size:1.5em;
      line-height:1.45;
    }
  }
  
  code{
    background:$grey-light;
    @include border-radius(.125em);
    color:$black;
    font-family:$font-monospace;
    padding:.1em .25em;
    white-space:nowrap;
  }
  
  del{
    color:$grey-light;
  }
 
  h1{
    background:image-url("hr.jpg") repeat-x 0 100%;
    @include background-size(100% 1px);
    font-size:2em;
    line-height:1.25;
    margin:0 0 .75em;
    padding:0 0 .333333em;
    
    @include breakpoint($breakpoint-first){
      font-size:2.5em;
      line-height:1.125;
    }
    
    @include breakpoint($breakpoint-second){
      font-size:3em;
      line-height:1.25;
    }
  }
  
  h2{
    font-size:1.625em;
    line-height:1.15;
    margin:1em 0;
    
    @include breakpoint($breakpoint-first){
      font-size:2em;
      line-height:1.25;
    }
    
    @include breakpoint($breakpoint-second){
      font-size:2.25em;
    }
  }
  
  h3{
    font-size:1.375em;
    line-height:1.15;
    margin:0 0 1em;
    
    @include breakpoint($breakpoint-first){
      font-size:1.5em;
      line-height:1.25;
    }
    
    @include breakpoint($breakpoint-second){
      font-size:1.75em;
    }
  }
  
  h4{
    font-size:1.125em;
    line-height:1.1;
    
    @include breakpoint($breakpoint-first){
      line-height:1.2;
    }
  }
  
  h5,h6{
    margin:0 0 .25em;
  }
  
  ins{
    color:$grey-light;
    font-weight:300;
    text-decoration:none;
  }
  
  li{
    line-height:1;
    margin:.5em;
  }
  
  ol{
    counter-reset:li;
    list-style:decimal;
    margin:0 0 1em;
    padding:0 0 0 1em;
    
    & > li{
      list-style:none;
      
      &:before{
        color:$grey-light;
        content:counter(li)".";
        counter-increment:li;
        display:block;
        font:{
          style:italic;
          weight:300;
        }
        left:-1em;
        max:{
          height:0;
          width:0;
        }
        position:relative;
      }
    }
    
    * + html & li{
      list-style:decimal;
    }
  }
  
  p{
    margin:0 0 1.5em;
  }
  
  pre code{
    display:block;
    margin:0 0 1em;
    padding:.75em;
    -moz-tab-size:2;
    -o-tab-size:2;
    tab-size:2;
    white-space:pre;
  }
  
  ul{
    list-style:circle;
    margin:0 0 1em;
    padding:0 0 0 1em;
    
    & > li{
      list-style:none;
      
      &:before{
        color:$orange;
        content:"\25cb";
        display:block;
        left:-1em;
        max:{
          height:0;
          width:0;
        }
        position:relative;
      }
    }
    
    * + html & li{
      list-style:circle;
    }
  }
}

.footer{
  color:$grey-light;
  overflow:hidden;
  padding:3em 0;
  
  a{
    border-bottom:1px solid $grey-light;
    color:$white;
    display:inline-block;
    margin:0 1em 0 0;
    text-decoration:none;
  }
  
  p{
    font-weight:300;
    margin:0 0 3em;
  }
  
  .established{
    border:1px solid $grey-light;
    @include border-radius(100%);
    display:inline-block;
    line-height:1.15;
    padding:1em;
    text-transform:uppercase;
    
    abbr{
      display:block;
    }
  }
}

.header{
  background:image-url("header.jpg") 50% 0;
  @include background-size(cover);
  padding:1em 0;
  text-align:left;
}

.logo{
  background:$black;
  color:$white;
  display:inline-block;
  float:left;
  font-weight:bold;
  letter-spacing:.5em;
  line-height:1;
  padding:.5em 0 .5em .5em;
  text:{
    decoration:none;
    transform:uppercase;
  }
}

.menu{
  $height:5em;
  
  text-align:right;
  
  a{
    color:$white;
  }
  
  input{
    display:none;
    
    /*&:not(:checked) ~ ul{
      max-height:0;
    }
      
    &:checked ~ ul{
      max-height:$height;
    }*/
  }
  
  label{
    cursor:pointer;
    display:inline-block;
    line-height:1;
    
    i{
      font:{
        size:2em;
        style:normal;
      }
      letter-spacing:-.25em;
      padding:0 .25em 0 0;
      visibility:hidden;
    }
    
    span{
      display:none;
    }
  }

  ul{
    display:none;
    max-height:$height;
    overflow:hidden;
    @include transition(max-height 250ms ease-in-out);
  }
}

.post{
  clear:both;
  margin:0 0 3em;
  
  &:last-of-type,&.post-full{
    margin:0;
    
    footer{
      display:none;
    }
    
    .ellipsis{
      margin:0;
    }
  }
  
  &.post-full{
    h1{
      background:none;
      border:0;
      display:inline;
      margin:0;
      padding:0;
      
      a{
        border:0;
      }
    }
    
    header{
      background:image-url("hr.jpg") repeat-x 0 100%;
      @include background-size(100% 1px);
      margin:0 0 2.25em;
      padding:0 0 1em;
    }
  }
  
  h2{
    display:inline;
  }
  
  header{
    margin:0 0 2em;
  }
  
  footer{
    background:image-url("hr.jpg") repeat-x 0 100%;
    @include background-size(100% 1px);
    height:1px;
    overflow:hidden;
    text-indent:100%;
  }
  
  time{
    color:$grey-light;
    line-height:3;
    
    a{
      color:$grey-light;
    }
  }
  
  .ellipsis{
    border:0;
    display:block;
    font-size:1.5em;
    line-height:1;
    margin:1em 0 1.5em;
    text:{
      align:center;
      decoration:none;
    }
    @include text-shadow($grey 1px 1px 0);
    
    &:before{
      color:$black;
      content:'\25cb\25cb\25cb';
    }
    
    &:hover,&:active,&:focus{
      color:$white;
      @include text-shadow(none);
    }
    
    span{
      display:none;
    }
  }
  
  .excerpt a{
    border:0;
  }
}

.search{
  max-width:pxtoem($breakpoint-max);
  width:pxtoem($breakpoint-max);
  
  button{
    background:none;
    border:0;
    color:$white;
    cursor:pointer;
    display:block;
    height:100%;
    margin:0;
    padding:.5em;
    position:absolute;
    right:0;
    text:{
      align:right;
      transform:uppercase;
    }
    top:0;
    vertical-align:middle;
    width:auto;
    z-index:2;
  }
  
  fieldset{
    border:1px solid $black;
    display:block;
    line-height:1;
    padding:0;
    position:relative;
  }
  
  input{
    background:none;
    border:0;
    color:$black-light;
    display:block;
    outline:none;
    margin:0;
    padding:.5em;
    vertical-align:middle;
    width:75%;
    -webkit-appearance:none;
    
    &::-webkit-search-cancel-button,&::-webkit-search-results-button{ 
      -webkit-appearance:none; 
    }
  }
  
  label{
    cursor:text;
    display:block;
    position:relative;
    z-index:1;
  }
}
form[class=search]{
  width:auto;
}

.video{
  height:0;
  overflow:hidden;
  margin:0 0 1.5em;
  padding:0 0 56.25%;
  position:relative;
 
  embed,iframe,object{
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
  }
}