%hr{
  border-bottom:1px solid $colour-grey-light;
  @include border-image(linear-gradient(left, $colours-gradient) 100% 1);
}

%vr{
  border-left:1px solid $colour-grey-light;
  @include border-image(linear-gradient(top, $colours-gradient) 1 100%);
}

@include critical(true){
  a{
    border-bottom:1px dotted $colour-grey-light;
    border-color:rgba($colour-grey-light,.5);
    color:$colour-white;
    text-decoration:none;
    @include transition(border-color .25s ease-in-out);
    
    &:hover,&:active,&:focus{
      border-color:transparent !important
    }
  }
  
  body{
    background:$colour-black-light;
    color:$colour-white;
    font:100%/1.5 $font-base;
    text-align:center;
  }
  
  html{
    -webkit-text-size-adjust:100%;
  }
  
  #cf_alert_div{
    display:none !important;
  }
  
  .hidden{
    display:none;
  }
}

@include critical(false){
  [data-yesscript]{
    display:none;
    
    html.js &{
      display:block;
    }
  }
  
  abbr[title]{
    cursor:help;
  }
  
  body{
    @include breakpoint($breakpoint-first){
      line-height:1.75;
    }
  }
}