<aside class="content content-alt" role="complementary">
  <div class="container">
    <h1>
      <strong>Hi I'm Ben.</strong>
    </h1>
    <p class="intro">
      Ultimate Knot-tier* and Head of Front-end Development at <a href="http://clock.co.uk/">Clock</a>.<br/>
      <small>* according to my daughter</small>
    </p>
    <p>Why not take a read through my latest articles and <a href="https://twitter.com/benedfit">get in touch via Twitter</a> or <a href="mailto:hello@benedfit.com"drop me an email</a> if you want to chat.</p>
  </div>
</aside>