<div class="footer container vcard h-card" role="contentinfo">
  <small>&copy; {{ site.time | date: '%Y' }}</small>
  <a href="{{ site.url }}/" class="fn url p-name u-url">Ben Edwards</a>
  <a href="/styleguide/">Styleguide</a>
  <a href="mailto:hello@benedfit.com" class="email u-email u-url">Email</a>
  <a href="https://twitter.com/benedfit" rel="me" class="u-url">Twitter</a>
  <a href="https://github.com/benedfit/" rel="me" class="u-url">GitHub</a>
  <a href="http://codepen.io/benedfit/" rel="me" class="u-url">CodePen</a>
</div>