<footer class="footer h-card" role="contentinfo">
	<div class="container">
		<p>
			&copy; {{ site.time | date: '%Y' }}
			<a href="{{ site.url }}/" class="p-name u-url">Ben Edwards</a>
			<a href="/styleguide/">Styleguide</a>
			<a href="mailto:hello@benedfit.com" class="u-email">Email</a>
			<a href="https://twitter.com/benedfit" rel="me">Twitter</a>
			<a href="https://github.com/benedfit/">GitHub</a>
			<a href="http://codepen.io/benedfit/">CodePen</a>
		</p>
		<i class="established"><abbr title="Established">Est.</abbr> 2013</i>
	</div>
</footer>