<header class="header" role="banner">
	<div class="container">
		<a class="logo" href="/" rel="home">{{ site.logo }}</a>
		<label for="menu-toggle" class="toggle-label"><span aria-hidden="false">Open menu</span><i aria-hidden="true">&equiv;&equiv;</i></label>
		<input id="menu-toggle" class="toggle-input" type="checkbox" aria-hidden="true">
		<label for="search-toggle" class="toggle-label"><span aria-hidden="false">Open search</span><i aria-hidden="true">&#128269;</i></label>
		<input id="search-toggle" class="toggle-input" type="checkbox" aria-hidden="true">
		<nav class="menu" role="navigation">
			<ul>
				{% assign sorted_pages = site.pages | sort:"path" %}
				{% for page in sorted_pages %}
					{% if page.layout != nil and page.hidden != true %}
						<li><a href="{{ page.url | remove: 'index.html' }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
		<form id="search" class="search" role="search" action="/search/" method="get">
			<fieldset>
				<label for="search-input"><input type="search" name="q" id="search-input" autocomplete="off"></label>
				<button id="search-button">Search</button>
			</fieldset>
		</form>
	</div>
</header>