---
---
- var date = time.format('YYYY/MM/DD')
:verbatim
  /* TEAM */
  Web Designer and Developer: #{authorName}
  Contact: #{authorEmail}
  Twitter: @#{authorHandle}
  Location: Leighton Buzzard, UK

  /* SITE */
  Last update: #{date}
  Standards: HTML5, CSS3
  Software: Jade, Stylus, Browserify
